/* GLOBAL */
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #444;
  background-color: #fff;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

*:focus {
  outline: 2px dotted #DE2E54;
  outline-offset: 2px;
}

/* CONTAINER */
.container  {
  width: 100%;
  max-width: 1160px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}


/* SITE-HEADER */
.site-header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.site-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #222;
  font-size: 24px;
  font-weight: 600;
}

.site-logo:hover {
  color: #DE2E54;
  cursor: pointer;
}

.site-logo:active {
  opacity: 0.6;
}

.logo-img {
  margin-right: 16px;
  border-radius: 50%;
}

.site-logo-footer {
  color: #fff;
}

.site-logo-footer:active {
  color: #fff;
}


/* SITE-NAV */
.site-nav {
}

.site-nav-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav-item:not(:last-child) {
  margin-right: 32px;
}

.site-nav-link {
  display: block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #222;
  text-transform: uppercase;
  text-decoration: none;
}

.site-nav-link:hover {
  color: #DE2E54;
}

.site-nav-link:active {
opacity: 0.6;
}

.site-nav-footer .site-nav-link {
  color: #fff;
}

.site-nav-footer .site-nav-link:hover {
  color: #DE2E54;
}

.site-nav-footer .site-nav-link:active {
  color: #fff;
}

/* BUTTON */
.button {
  display: inline-block;
  padding: 10px 22px;
  justify-content: center;
  border: 2px solid #DE2E54;
  border-radius: 8px;
  color: #fff;
  background-color: #DE2E54;
  letter-spacing: 2px;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
}

.button:hover {
  color:#DE2E54;
  background-color: #fff;
}

.button:active {
  background-color: #DE2E54;
  color: #fff;
  opacity: 0.6;
}

/* MAIN */

/* HERO */
.hero {
  padding-top: 30px;
  background-color: #0EB4C1;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-info {
  max-width: 500px;
  width: 100%;
  color: #fff;

}

.hero-heading {
  margin: 0;
  margin-bottom: 16px;
  font-size: 36px;
  font-weight: 700;
  line-height: 120%;
  font-family: 'Roboto Condensed', sans-serif;
}

.hero-text {
  margin: 0;
  margin-bottom: 36px;
  font-size: 18px;
}

.hero-img {

}


/* SITE - FOOTER */
.site-footer {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #222;
  color: #fff;
}

.site-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
