/* GLOBAL */
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #444;
  background-color: #fff;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}


/* CONTAINER */
.container  {
  width: 100%;
  max-width: 1160px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}


/* SITE-HEADER */
.site-header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.site-logo:hover {
  opacity: 0.8;
  cursor: pointer;
}

.site-logo:active {
  opacity: 0.6;
}


/* SITE-NAV */
.site-nav {
}

.site-nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav-item:not(:last-child) {
  margin-right: 32px;
}

.site-nav-link {
  font-size: 14px;
  font-weight: 700;
  line-height: 150%; /* 21px */
  letter-spacing: 2px;
  color: #222;
  text-transform: uppercase;
  text-decoration: none;
}

/* BUTTON */
.button {
  display: inline-block;
  padding: 12px 24px;
  justify-content: center;
  border-radius: 8px;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #DE2E54;
  font-family: 'Roboto Condensed', sans-serif;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}

/* MAIN */

/* HERO */
.hero {
  padding-top: 30px;
  background-color: #0EB4C1;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-info {
  max-width: 500px;
  width: 100%;
  color: #fff;

}

.hero-heading {
  margin: 0;
  margin-bottom: 16px;
  font-size: 36px;
  font-weight: 700;
  line-height: 120%;
  font-family: 'Roboto Condensed', sans-serif;
}

.hero-text {
  margin: 0;
  margin-bottom: 36px;
  font-size: 18px;
}

.hero-img {

}
